doctype html
html
    head
        //title= title
        //link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset='UTF-8')
        title My To-Do List
        link(href='/stylesheets/todo.css', rel='stylesheet')
        link(href='/stylesheets/jquery-ui.min.css', rel='stylesheet')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery-ui.min.js')
        script(src='/javascripts/todo.js')
    body
        block content
